<!--
{% set project_name='changeguard' %}
{% set project_name_proper='ChangeGuard' %}
{% set last_unstable_release=shell('tomlq -r -e \'.["tool"]["changeguard-project-metadata"]["last_unstable_release"]\' pyproject.toml',
                                   include_args=False) | trim %}
{% set last_stable_release=shell('tomlq -r -e \'.["tool"]["changeguard-project-metadata"]["last_stable_release"]\' pyproject.toml',
                                 include_args=False) | trim %}
{% set tested_python_versions=shell('python -m yq -r -c \'[.jobs["build-and-test"]["strategy"]["matrix"]["python-version"][].gh] | join(", ")\' .github/workflows/build-and-test.yml',
                                 include_args=False) | trim %}
{% set badge_color='0A1E1E' %}
-->

# {{project_name_proper}}

<div align="center">

<!-- Icons from https://lucide.dev/icons/users -->
<!-- Icons from https://lucide.dev/icons/laptop-minimal -->

![**Audience:** Developers][1] ![**Platform:** Linux][2]

</div>

<p align="center">
  <strong>
    <a href="#-requirements">✅Requirements</a>
    &nbsp;&bull;&nbsp;
    <a href="#-docker-image">🐳Docker</a>
  </strong>
</p>

<div align="center">

![Top language][3] ![GitHub License][4] [![PyPI - Version][5]][6]
[![Python Version][7]][6]

</div>

---

<div align="center">

|         | Status                     | Stable                    | Unstable                  |                    |
| ------- | -------------------------- | ------------------------- | ------------------------- | ------------------ |
| Master  | [![Build and Test][8]][9]  | [![since tagged][10]][11] |                           | ![last commit][12] |
| Develop | [![Build and Test][13]][9] | [![since tagged][14]][15] | [![since tagged][16]][17] | ![last commit][18] |

CLI to check if your repository/directory files have changed over the span of a
script.

</div>

## What

Like hashdeep, but customized to check if any of the original files in a
repository/directory change over the course of a precommit script.

## Features

- Can use any sha256sum-like command (uses xxhash by default).
- Use `.changeguard-ignore` to ignore files that should not be checked for
  changes.

## Install

```bash
# Install from pypi (https://pypi.org/project/{{project_name}}/)
pip install {{project_name}}

# Install from git (https://github.com/realazthat/{{project_name}})
pip install git+https://github.com/realazthat/{{project_name}}.git@v{{last_stable_release}}
```

## 🚜 Usage

<!--{{snippet('./changeguard/examples/hash-audit_example.sh',
              start='# SNIPPET_START',
              end='\n# SNIPPET_END',
              backtickify='bash',
              decomentify='nl')|trim}}-->

## 💻 Command Line Options

<!--{{ shell('python -m changeguard.cli --help',
             rich='README.help.generated.svg',
             rich_alt='Output of `python -m changeguard.cli --help`',
             rich_bg_color='black',
             rich_term='xterm-256color',
             rich_cols=160,
             decomentify='nl') }}-->

## Requirements

- Python 3.8+
  - Why: Some dev dependencies require Python 3.8+.

### Tested on

- WSL2 Ubuntu 20.04, Python `{{rawsnippet('./.python-version') | trim}}`.
- Ubuntu 20.04, Python `{{tested_python_versions}}`, tested in GitHub Actions
  workflow ([build-and-test.yml](./.github/workflows/build-and-test.yml)).

## 🐳 Docker Image

Docker images are published to [ghcr.io/realazthat/{{project_name}}][48] at each
tag.

```bash
# Use the published images at ghcr.io/realazthat/{{project_name}}.
docker run --rm -it ghcr.io/realazthat/{{project_name}}:v{{last_stable_release}} --help

# /data in the docker image is the working directory, so paths are simpler.
docker run --rm -it \
  -v $(pwd):/data \
  ghcr.io/realazthat/{{project_name}}:v{{last_stable_release}} \
  hash \
  --ignorefile "${PROJ_PATH}/.gitignore" \
  --ignoreline .trunk --ignoreline .git \
  --method "${METHOD}" \
  --tmp-backup-dir "${PWD}/.cache/scripts/audit-original" \
  --audit-file "${AUDIT_FILE}" \
  --directory "${PROJ_PATH}"

docker run --rm -it \
  -v $(pwd):/data \
  ghcr.io/realazthat/{{project_name}}:v{{last_stable_release}} \
  audit \
  --audit-file "${AUDIT_FILE}" \
  --show-delta \
  --directory "${PROJ_PATH}" 2>&1 | tee "${AUDIT_LOG}"
```

If you want to build the image yourself, you can use the Dockerfile in the
repository.

```bash
# Build the docker image.
docker build -t my-{{project_name}}-image .

# Run the docker image.
docker run --rm -it my-{{project_name}}-image --help
```

If you want to build the image yourself, you can use the Dockerfile in the
repository.

<!--{{snippet('./changeguard/examples/local-docker_example.sh',
              start='# DOCKER_START',
              end='# DOCKER_END',
              backtickify='bash',
              decomentify='nl')|trim}}-->

## Contributions

### Development environment: Linux-like

- For running `pre.sh` (Linux-like environment).

  - From {{path('./.github/dependencies.yml', link='md')}}, which is used for
    the GH Action to do a fresh install of everything:

    {{shell('python -m yq --yaml-output  \'.dev\' .github/dependencies.yml',
    include_args=False,
    backtickify='yaml',
    indented=4
    )}}

  - Requires `pyenv`, or an exact matching version of python as in
    [`{{path('.python-version')}}`](./.python-version).
  - `nvm` for prettier (markdown formatting).
  - `act` (to run the GH Action locally):
    - Requires `nodejs`.
    - Requires `Go`.
    - `docker`.
  - Generate animation:
    - `docker`.
  - docker (for building the docker image).

### Commit Process

1. (Optionally) Fork the `develop` branch.
2. Stage your files: `git add path/to/file.py`.
3. `bash scripts/pre.sh`, this will format, lint, and test the code.
4. `git status` check if anything changed (generated `{{path('README.md')}}` for
   example), if so, `git add` the changes, and go back to the previous step.
5. `git commit -m "..."`.
6. Make a PR to `develop` (or push to develop if you have the rights).

## Release Process

These instructions are for maintainers of the project.

1. In the `develop` branch, run `bash {{path('scripts/pre.sh')}}` to ensure
   everything is in order.
2. In the `develop` branch, bump the version in `{{path('pyproject.toml')}}`,
   following semantic versioning principles. Also modify the
   `last_unstable_release` and `last_stable_release` in the
   `[tool.{{project_name}}-project-metadata]` table as appropriate.
3. In the `develop` branch, commit these changes with a message like "Prepare
   release X.Y.Z". (See the contributions section [above](#commit-process)).
4. Merge the `develop` branch into the `master` branch:
   `git checkout master && git merge develop --no-ff`.
5. `master` branch: Tag the release: Create a git tag for the release with
   `git tag -a vX.Y.Z -m "Version X.Y.Z"`.
6. Publish to PyPI: Publish the release to PyPI with
   `bash scripts/deploy-to-pypi.sh`.
7. Push to GitHub: Push the commit and tags to GitHub with
   `git push && git push --tags`.
8. The `--no-ff` option adds a commit to the master branch for the merge, so
   refork the develop branch from the master branch:
   `git checkout develop && git merge master`.
9. Push the develop branch to GitHub: `git push origin develop`.

[1]:
  https://img.shields.io/badge/Audience-Developers-{{badge_color}}?style=plastic&logo=data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXVzZXJzIj48cGF0aCBkPSJNMTYgMjF2LTJhNCA0IDAgMCAwLTQtNEg2YTQgNCAwIDAgMC00IDR2MiIvPjxjaXJjbGUgY3g9IjkiIGN5PSI3IiByPSI0Ii8+PHBhdGggZD0iTTIyIDIxdi0yYTQgNCAwIDAgMC0zLTMuODciLz48cGF0aCBkPSJNMTYgMy4xM2E0IDQgMCAwIDEgMCA3Ljc1Ii8+PC9zdmc+
[2]:
  https://img.shields.io/badge/Platform-Linux-{{badge_color}}?style=plastic&logo=data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWxhcHRvcC1taW5pbWFsIj48cmVjdCB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIHg9IjMiIHk9IjQiIHJ4PSIyIiByeT0iMiIvPjxsaW5lIHgxPSIyIiB4Mj0iMjIiIHkxPSIyMCIgeTI9IjIwIi8+PC9zdmc+
[3]:
  https://img.shields.io/github/languages/top/realazthat/{{project_name}}.svg?cacheSeconds=28800&style=plastic&color={{badge_color}}
[4]:
  https://img.shields.io/github/license/realazthat/{{project_name}}?style=plastic&color={{badge_color}}
[5]:
  https://img.shields.io/pypi/v/{{project_name}}?style=plastic&color={{badge_color}}
[6]: https://pypi.org/project/{{project_name}}/
[7]:
  https://img.shields.io/pypi/pyversions/{{project_name}}?style=plastic&color={{badge_color}}
[8]:
  https://github.com/realazthat/{{project_name}}/actions/workflows/build-and-test.yml/badge.svg?branch=master&style=plastic
[9]:
  https://github.com/realazthat/{{project_name}}/actions/workflows/build-and-test.yml?style=plastic
[10]:
  https://img.shields.io/github/commits-since/realazthat/{{project_name}}/v{{last_stable_release}}/master?style=plastic
[11]:
  https://github.com/realazthat/{{project_name}}/compare/v{{last_stable_release}}...master
[12]:
  https://img.shields.io/github/last-commit/realazthat/{{project_name}}/master?style=plastic
[13]:
  https://github.com/realazthat/{{project_name}}/actions/workflows/build-and-test.yml/badge.svg?branch=develop&style=plastic
[14]:
  https://img.shields.io/github/commits-since/realazthat/{{project_name}}/v{{last_stable_release}}/develop?style=plastic
[15]:
  https://github.com/realazthat/{{project_name}}/compare/v{{last_stable_release}}...develop
[16]:
  https://img.shields.io/github/commits-since/realazthat/{{project_name}}/v{{last_unstable_release}}/develop?style=plastic
[17]:
  https://github.com/realazthat/{{project_name}}/compare/v{{last_unstable_release}}...develop
[18]:
  https://img.shields.io/github/last-commit/realazthat/{{project_name}}/develop?style=plastic
